@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ff6868;
  --second-color: #8af1ff;
  --pink: #ff9df5;
  --green: #97ea9f;
  --gray: #cdcdcd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.bg-main {
  background: var(--main-color);
}

.bg-second {
  background: var(--second-color);
}

.bg-pink {
  background: var(--pink);
}

.bg-green {
  background: var(--green);
}

.bg-gray {
  background: var(--gray);
}

.bg-black-opacity {
  background: rgba(0, 0, 0, 0.4);
}

.text-main {
  color: var(--main-color);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: #3e91dd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.loader {
  border-top-color: var(--main-color);
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
